.container{
    margin-top: 100px;
    margin-left: 35%;
    margin-bottom: 10%;
}

.contact_title{
    margin-bottom: 30px;
}

.member_register{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    line-height: 1.15;
    width: 500px;
    margin-bottom: 100px;
    font-size: 15px;
}

.form_control{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5em 0.6em;
    line-height: 1.15;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}

.form_grop{
    margin: 2%;
}

.btn_submit{
    background-color: #0000ff;
    color: #ffffff;
    padding: 0.5em 1em;
    border: transparent;    /* 邊框線 透明 */
    border-radius: 5px;
    font-size: 15px;
}