{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="contact_title">變更密碼</h2>
    <span class="message">{{msg}}</span>
    <form action="" method="post" class="contant_form">
        {% csrf_token %}
        <div class="form_grop">
            <label for="">舊密碼</label>
            <input type="password" name="oldpwd" class="form_control" required />
        </div>
        <div class="form_grop">
            <label for="">新密碼</label>
            <input type="password" name="newpwd" class="form_control" required />
        </div>
        <div class="form_grop">
            <label for="">確認密碼</label>
            <input type="password" name="checkpwd" class="form_control" required />
        </div>
        <div class="form_grop">
            <button type="submit" class="btn_submit">提交</button>
        </div>
    </form>
</div>
{% endblock %}